@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@200;400;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
}

.container{
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(206, 92%, 94%);
}

.inner-container{

    width: 40vw;
    padding: 3rem 8rem;
    background-color: #fff;
    box-shadow : 0 1rem 1rem  -0.7rem rgba(0,0,0,0.4);
    border-radius: 1rem;
   
}

.inner-container h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 3.5rem;
    font-weight: 400;
}

.inner-container ul{
    margin-top:  3rem;
    list-style: none;
}

.inner-container ul li {
    margin-bottom: 1rem;
    font-size: 2rem;
   
}

#submit, .btn{
   
    padding: 0.8rem;
    outline: none;
    font-weight: 400;
    font-size: 2rem;
    display: block;
    margin: auto;
    border: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #74b9ff;
    margin-top: 4rem;
}

input{
    cursor: pointer;
}

#submit:hover{
    background-color: #0984e3;
}

#showscore{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow : 0 1rem 1rem  -0.7rem rgba(0,0,0,0.4);
}

#showscore h3{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

#showscore .btn{
    margin-top: 2rem;
    background-color: #55efc4;
    color: #2d3436;
}

#showscore .btn:hover{
    
    background-color: #00b894;
    color: #fff;
}


.scorearea{
    display: none;
}